.main {
    background: var(--mintcream);
    display: flex;
    justify-content: center;
    margin-top: 92px;
    height: 86vh;
    align-items: center;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;
    background: var(--mintcream);
}

.main-content {
    justify-self: start;
    margin-left: 20px;
    width: 50%;
    margin-top: 15px;
}

.main-content h1 {
    color: red;
    font-weight: bold;
    font-size: 50px;
    font-family: "Oswald", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-content p {
    padding-top: 10px;
    color: var(--mindnigthblue);
    font: 18px "Oswald", cursive;
    letter-spacing: 0.5px;
}

.main-btn {
    margin-top: 50px;
    background-color: var(--mindnigthblue);
    padding: 15px 15px;
    text-align: center;
    width: 40%;
    border: none;
    outline-style: none;
    border-radius: 40px;
    justify-self: center;
    cursor: pointer;
    color: var(--white);
    font-weight: bold;
    letter-spacing: 1px;
}
.main-btn:hover,
.main-btn .links:hover {
    color: var(--orangered);
    background: var(--goldenrod);
    transition: all 0.35s;
}
.main-btn .links {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    outline: none;
}
.mainimg {
    width: 50%;
    padding-top: 10px;
}

#main-img {
    width: 100%;
    height: auto;
}

/* Mobile */
@media (max-width: 1085px) {
    .main {
        margin-top: 100px;
    }
}
@media (max-width: 944px) {
    .main {
        margin-top: 100px;
    }
    .main-btn {
        width: 50%;
        padding: 10px 0;
        z-index: 9999;
    }
    .links {
        z-index: 9999;
    }
}
@media (max-width: 562px) {
    .main {
        margin-top: 95px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
    }
    .main-btn {
        width: 40%;
    }
    .main-content {
        width: 90%;
    }
    .main-content h1 {
        font-size: 30px;
    }
    .main-content p {
        font-size: 16px;
    }
    #main-img {
        padding-top: 10px;
        height: 270px;
        width: 100% auto;
    }
}

@media (max-width: 493px) {
    .main {
        height: 90vh;
    }
    .main-btn {
        width: 70%;
    }
}
